<h1 class="title">Twitter mirror website</h1>
<div class="help">
<p class="help__copy">You can browse the latest tweets from any accounts on Twitter
by putting the account name that you wish to see in the address bar above.</p>
<h2 class="help__subheading">For example:</h2>
<!-- TODO: Extract these to a partial and incude on error page / home page -->
<ul class="container">
	<li class="item">
	    <a href="/barackobama" class="item__link">
		    <h2 class="item__title">
			    @BarackObama
		    </h2>
        </a>
   	</li>
   	<li class="item">
        <a href="/katyperry" class="item__link">
            <h2 class="item__title">
                @KatyPerry
            </h2>
        </a>
    </li>
    <li class="item">
        <a href="/theellenshow" class="item__link">
            <h2 class="item__title">
                @TheEllenShow
            </h2>
        </a>
    </li>
    <li class="item">
        <a href="/pontifex" class="item__link">
            <h2 class="item__title">
                @Pontifex
            </h2>
        </a>
    </li>
    <li class="item">
        <a href="/instagram" class="item__link">
            <h2 class="item__title">@Instagram</h2>
        </a>
    </li>
    <li class="item">
        <a href="/rihanna" class="item__link">
            <h2 class="item__title">@Rihanna</h2>
        </a>
    </li>
    <li class="item">
        <a href="/justinbieber" class="item__link">
            <h2 class="item__title">@JustinBieber</h2>
        </a>
    </li>
    <li class="item">
        <a href="/youtube" class="item__link">
            <h2 class="item__title">@Youtube</h2>
        </a>
    </li>
    <li class="item">
        <a href="/jtimberlake" class="item__link">
            <h2 class="item__title">@JTimberlake</h2>
        </a>
    </li>
    <li class="item">
        <a href="/cristiano" class="item__link">
            <h2 class="item__title">@Cristiano</h2>
        </a>
    </li>
    <li class="item">
        <a href="/kingjames" class="item__link">
            <h2 class="item__title">@KingJames</h2>
        </a>
    </li>
    <li class="item">
        <a href="/billgates" class="item__link">
            <h2 class="item__title">@BillGates</h2>
        </a>
    </li>
</ul>
</div>
