<h1>Twitter Mirror</h1>

<p>Simple place the username of the person's tweets that you wish to view on the end of the URL in the address bar</p>
<p>For example</o>
<ul>
	<li><a href="/katyperry">/katyperry</a></li>
	<li><a href="/justinbieber">/justinbieber</a></li>
	<li><a href="/taylorswift13">/taylorswift13</a></li>
	<li><a href="/barackobama">/barackobama</a></li>
	<li><a href="/rihanna">/rihanna</a></li>
</ul>
